@use '@angular/material' as mat;

/* Master div takes up the entire viewport */
.master-div {
    width: 97vw;
    height: 90vh;
    background-color: lightgray;
    display: flex;
    flex-direction: column;
  }

  /* First child div: 10% height, 100% width of master div */
  .child-div-1 {
    height: 30%;
    width: 100%;
    background-color: lightcoral;
  }

  /* Second child div: 50% height, 100% width of master div */
  .child-div-2 {
    height: 50%;
    width: 100%;
    background-color: lightgreen;
  }

  /* Third child div: Fixed height of 10px, 100% width of master div */
  .child-div-3 {
    height: 40%;
    width: 100%;
    background-color: lightblue;
  }
